Repository aws-controllers-k8s/apigateway-controller, pull requests merged in 2024-09, with the labels that each got.

#7 Implement RestAPI resource
  apis/v1alpha1/ack-generate-metadata.yaml
  apis/v1alpha1/generator.yaml
  apis/v1alpha1/rest_api.go
  apis/v1alpha1/types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  cmd/controller/main.go
  config/crd/bases/apigateway.services.k8s.aws_restapis.yaml
  config/crd/kustomization.yaml
  config/rbac/cluster-role-controller.yaml
  config/rbac/role-reader.yaml
  config/rbac/role-writer.yaml
  generator.yaml
  go.mod
  go.sum
  helm/crds/apigateway.services.k8s.aws_restapis.yaml
  helm/templates/_helpers.tpl
  helm/templates/role-reader.yaml
  helm/templates/role-writer.yaml
  pkg/resource/rest_api/delta.go
  pkg/resource/rest_api/descriptor.go
  pkg/resource/rest_api/hooks.go
  pkg/resource/rest_api/identifiers.go
  pkg/resource/rest_api/manager.go
  pkg/resource/rest_api/manager_factory.go
  pkg/resource/rest_api/references.go
  pkg/resource/rest_api/resource.go
  pkg/resource/rest_api/sdk.go
  pkg/resource/rest_api/tags.go
  pkg/tags/sync.go
  pkg/util/arn.go
  pkg/util/patch/patch.go
  pkg/util/patch/patch_test.go
  templates/hooks/rest_api/sdk_update_post_build_request.go.tpl
  templates/hooks/rest_api/sdk_update_pre_build_request.go.tpl
  test/e2e/common/__init__.py
  test/e2e/common/waiter.py
  test/e2e/resources/rest_api_simple.yaml
  test/e2e/tests/rest_api_test.py
Labels: ok-to-test, approved

#13 Release artifacts for release v0.0.1
  apis/v1alpha1/ack-generate-metadata.yaml
  config/controller/kustomization.yaml
  go.mod
  go.sum
  helm/Chart.yaml
  helm/templates/NOTES.txt
  helm/values.yaml
  pkg/resource/rest_api/manager_factory.go
  pkg/resource/rest_api/references.go
Labels: lgtm, approved

#8 Implement VPCLink resource
  apis/v1alpha1/ack-generate-metadata.yaml
  apis/v1alpha1/enums.go
  apis/v1alpha1/generator.yaml
  apis/v1alpha1/types.go
  apis/v1alpha1/vpc_link.go
  apis/v1alpha1/zz_generated.deepcopy.go
  cmd/controller/main.go
  config/crd/bases/apigateway.services.k8s.aws_vpclinks.yaml
  config/crd/kustomization.yaml
  config/rbac/cluster-role-controller.yaml
  config/rbac/role-reader.yaml
  config/rbac/role-writer.yaml
  generator.yaml
  helm/crds/apigateway.services.k8s.aws_vpclinks.yaml
  helm/templates/_helpers.tpl
  helm/templates/role-reader.yaml
  helm/templates/role-writer.yaml
  pkg/resource/vpc_link/delta.go
  pkg/resource/vpc_link/descriptor.go
  pkg/resource/vpc_link/hooks.go
  pkg/resource/vpc_link/identifiers.go
  pkg/resource/vpc_link/manager.go
  pkg/resource/vpc_link/manager_factory.go
  pkg/resource/vpc_link/references.go
  pkg/resource/vpc_link/resource.go
  pkg/resource/vpc_link/sdk.go
  pkg/resource/vpc_link/tags.go
  templates/hooks/vpc_link/sdk_delete_pre_build_request.go.tpl
  templates/hooks/vpc_link/sdk_update_post_build_request.go.tpl
  templates/hooks/vpc_link/sdk_update_pre_build_request.go.tpl
  test/e2e/bootstrap_resources.py
  test/e2e/resources/vpc_link_simple.yaml
  test/e2e/service_bootstrap.py
  test/e2e/tests/vpc_link_test.py
Labels: ok-to-test, lgtm, approved
